@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

:root {
  --bg: #666;
  --grn: #002F0F;
  --ltgrn: #335F3F;
  --red: #C90808;
  --tray: #668F6F;
  --blank: #66A;
  --shadow: rgba(0,0,0,0.25);
  --ws3: #F26855;
  --ws2: #F6BCAE;
  --ls3: #379BB3;
  --ls2: #c2D7D5;
  --board-bg: #c9c3a3;
  --board-border: black;
  --tile-border: black;
  --tile-bg: #FFF9DA;
  --header-bg: var(--red);
  --header-fg: white;
  --body-bg: linear-gradient(var(--bg), var(--ltgrn));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* tile size */
  --s: 4vmin;
}

main {
  width: 100vw;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  background: var(--body-bg);
  height: 100vh;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  background: var(--header-bg);
  color: var(--header-fg);
  padding: 0.125rem 0.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

#board {
  background: var(--board-bg);
  display: grid;
  grid-template-columns: repeat(15, var(--s));
  grid-template-rows: repeat(15, var(--s));
  height: calc(15 * var(--s));
  width: calc(15 * var(--s));

  margin: 1rem auto;
}

#board > div {
  border: solid thin var(--board-border);
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: calc(var(--s) / 5.5);
  text-transform: uppercase;
}

.ws3 { background: var(--ws3); }
.ws2 { background: var(--ws2); }
.ls3 { background: var(--ls3); }
.ls2 { background: var(--ls2); }


#board > div:before {
  display: block;
  text-align: center;
  margin: auto;
}

.ws3:before { content: "triple word score"; }
.ws2:before { content: "double word score"; }
.ls3:before { content: "triple letter score"; }
.ls2:before { content: "double letter score"; }
.star:before { content: "★"; font-size: calc(var(--s) * 4 / 6); }

.tile {
  background: var(--tile-bg);
  border: solid thin var(--tile-border);
  border-radius: calc(var(--s) / 8);
  padding: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: calc(var(--s) * 4 / 6);
  line-height: 130%;
  text-align: center;
  position: relative;
}

.tile.staged {
  border-style: dashed;
  transform: scale(0.9);
  z-index: 1;
}

#board .tile {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#rack .tile {
  transition: all 0.5s ease-in-out;
  display: inline-block;
  height: var(--s);
  width: var(--s);
}

.tile:after {
  font-size: calc(var(--s) / 4);
  content: attr(data-score);
  position: absolute;
  bottom: calc(var(--s) / 24);
  right: calc(var(--s) / 24);
  display: block;
  line-height: 1em;
}

.tile[data-score='0']:after {
  content: '';
}



#board .tile[data-score='0'][data-letter]:not(.staged):before {
  content: attr(data-letter);
  position: absolute;
}
#board .tile[data-score='0'][data-letter]:not(.staged) > input {
  display: none;
}

.tile[data-score='0'] > input {
  border: none;
  background: transparent;
  height: 100%;
  text-align: center;
  color: var(--blank);
  text-transform: uppercase;
  font-size: calc(var(--s) * 4 / 6);
}

#rack {
  background: var(--tray);
  border-radius: calc(var(--s) / 6);
  width: calc(var(--s) * 50 / 6);
  height: calc(var(--s) * 8.5 / 6);
  border-bottom: calc(var(--s) / 3) solid var(--grn);
  margin: 1rem auto;
  position: relative;
}

#rack .tile {
  position: absolute;
  left: calc(var(--s) / 6);
  top: calc(var(--s) / 6);
}


#board, #rack {
  box-shadow: 0 0.5rem 1rem var(--shadow);
}

#rack .tile[data-index='0'] { transform: translateX(calc(var(--s) * 0 / 6)); }
#rack .tile[data-index='1'] { transform: translateX(calc(var(--s) * 7 / 6)); }
#rack .tile[data-index='2'] { transform: translateX(calc(var(--s) * 14 / 6)); }
#rack .tile[data-index='3'] { transform: translateX(calc(var(--s) * 21 / 6)); }
#rack .tile[data-index='4'] { transform: translateX(calc(var(--s) * 28 / 6)); }
#rack .tile[data-index='5'] { transform: translateX(calc(var(--s) * 35 / 6)); }
#rack .tile[data-index='6'] { transform: translateX(calc(var(--s) * 42 / 6)); }

#bag {
  display: none;
}

button {
  background: var(--header-bg);
  color: var(--header-fg);
  font-family: 'Roboto Slab', serif;
  border: var(--header-fg) thin solid;
  border-radius: calc(var(--s)/8);
  padding: 0.125rem 0.5rem;
  flex-direction: column;
  text-transform: uppercase;
  font-size: calc(var(--s) * 4 / 8);
  line-height: 200%;
  text-align: center;
  position: relative;
  display: grid;
  place-content: center;

}

nav {
  margin: auto;
  max-width: calc(var(--s) * 15);
  display: grid;
  grid-template-columns: 5fr 2fr 3fr 2fr 5fr;
  grid-template-rows: 1fr 1fr;
  gap: calc(var(--s) * 0.2);
  grid-template-areas:
    "gamescore swap play shuffle movescore"
    "gamescore pass play recall movescore";
}

nav #commit { grid-area: play; }
nav #movescore { grid-area: movescore; }
nav #gamescore { grid-area: gamescore; }
nav #shuffle { grid-area: shuffle; }
nav #recall { grid-area: recall; }
nav #pass { grid-area: pass; }
nav #swap { grid-area: swap; }

nav #gamescore,
nav #movescore {
  background: var(--grn);
  color: var(--header-fg);
  font-family: 'Roboto Slab', serif;
  border: var(--header-fg) thin solid;
  border-radius: calc(var(--s)/8);
  padding: 0.125rem 0.5rem;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 200%;
  text-align: center;
  position: relative;
  display: grid;
  place-content: center;

}

